body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  background: darkgray;
  color: white;
  padding: 0 30px;
}

p {
  color: black;
  font-weight: 500;
  font-size: 18pt;
}

.App {
  text-align: center;
}

.map-container {
  width: 800px;
}

.leaflet-container {
  width: 100%;
  height: 400px;
}

.countryflag img {
  width: 200px;
  height: auto;
}

.button {
  margin: 40px;
  padding: 10px;
  font-size: 15pt;
  font-weight: 700;
  background-color: whitesmoke;
  color: black;
  border-radius: 5px;
}